body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  color: #333;
}

.hero h1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.hero p {
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.card-title {
  color: #0d6efd;
}

/* course */
.card-title {
  color: #0d6efd;
  font-weight: 600;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.card img {
  height: 180px;
  object-fit: cover;
}


